@media (max-width: 700px) { /* media query */
    .submit {
        display: none;
        color: rgb(255, 0, 0);
        background-color: blue; 
        flex-wrap: nowrap;
    }
    .dog1 {
        flex-direction: column;
    }
    .dog1 {
        flex-direction: column;
    }

    .dog2 {
        flex-direction: column;
    }
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    height: 110vh;
    background: linear-gradient(180deg, #788cff 0%, #0b00a1  100%);
}

img {
    border-radius: 15px;
    display: flex;
    margin-bottom: 15px;
    width: 150px;
} 

.foto-principal {
    border-radius: 15px;
    display: flex;
    margin-bottom: 15px;
    width: 150px;
}

.dog1:hover {
    transform: scale(0.9);
    transition: 200ms;
    cursor: pointer;
}

.dog2:hover {
    transform: scale(0.9);
    transition: 200ms;
    cursor: pointer;
}

.container3, ol, li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

.container3, ul {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
}

.parag::selection {
    color: goldenrod;
    background-color: rgb(0, 0, 0);
}

p {
    color: black;
    font-size: large;
    font-family: sans-serif;
}

.submit {
    background-color: goldenrod;
    border-radius: 12px;
    box-sizing: border-box;
    color: #111;
    font-size: 18px;
    margin-bottom: 5px;
    height: 50px;
    outline: 0;
    text-align: center;
    flex-wrap: wrap;
}

.submit:hover {
    background-color: green;
    transform: scale(1.1);
    transition: 200ms;
    cursor: pointer;
    background-image: url(wp6225006.jpg)
}

.submit::selection {
    color: goldenrod;
    background-color: rgb(0, 0, 0);
}

.container2, ol, li {
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
}


li::before {
    content: "🐶";
}

li::selection {
    color: goldenrod;
    background-color: rgb(0, 0, 0);
}
